{% if user and user.id %} <!-- 로그인 했을때만 댓글기능 활성화-->
<div class="twit">
    <form id="comment-form" action="/commentInsert">
    <div class="comment-section">
        <img class="pic" src="/static/profile.jpg">
        <p>{{user.id}}</p> 
    </div>
    <div class="input-group">
        <input id="content" type="type" name="content" placeholder="설명 입력">
        <button id="" class="">등록</button>
    </div>
    </form>
</div>
{% endif %}
<div>
    <div class="twit">
        <div class="input-group">
        <div class="comment-section">
            <img class="pic" src="/static/profile.jpg">
            <p>test1</p> 
        </div>
        <hr>
        <div>댓글내용</div>
        </div>
    </div>
</div>
