{% extends 'layout.html' %}

{% block content %}
<div class="timeline">
  <h1>Follow</h1>
  <div class="twits">
  </div>
  <div class="twits">
    {% for post in posts %}
    <div class="twit">
      <input type="hidden" value="{{post.User.id}}" class="twit-user-id">
      <div class="post-profile">
        <div class="profile-section">
          <div>
            {% if post.User.user_image %}
              <img class="pic" src="/{{post.User.user_image}}">  
            {% else %}
              <img class="pic" src="/static/profile.png">
            {% endif %}
          </div>
          <div>
            <p>{{post.UserId}}</p>
            <p>{{post.createdAt.toLocaleString('ko-KR')}}</p>
          </div>
        </div>
      </div>
      <div class="post-info">
        <div class="twit-author">#{{post.id}}</div>
        <div class="twit-tags">
          <div class="hashtag-item">test1</div>
        </div>
        <a href="/post/{{post.id}}/detail">
          <div class="twit-content">{{post.post_title}}</div>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block script %}
<script>
</script>
{% endblock %}