{% extends 'layout.html' %}

{% block content %}
    <div class="timeline">
      <h1>글쓰기</h1>
      <div class="twit">
        <form id="post-form" action="/post/insert" method="post">
          <div class="input-group">
            <label for="post_title">제목</label><br>
            <input id="title" type="type" name="title" placeholder="제목 입력"><br>
          </div>
          <div class="input-group">
            <label for="code_content">소스코드</label><br>
            <textarea id="story" name="story" rows="5" cols="33"></textarea><br>
          </div>
          <div class="input-group">
            <label for="question_content">설명</label><br>
            <input id="content" type="type" name="content" placeholder="설명 입력"><br>
          </div>
          <div class="input-group">  
            <div class="box">
              <div class="profile-img"><img id="post-img" src="static/profile.jpg" style="width:200%; height:auto;"></div>
            </div>
            <label id="postImg-label" for="postImg">사진 업로드</label>
            <input id="postImg" type="file" accept="image/*">
        </div>

          <div class="input-group">
            <label>태그</label>
            <div class="hashtagClick">
              <div>#JAVA</div>
              <div>#C++</div>
              <div>#Nodejs</div>
              <div>#DB</div>
              <div>#보안</div>
              <div>#Javascript</div>
              <div>#OS</div>
              <div>#UI/UX</div>
              <div>#HTML/CSS</div>
            </div>
            </div>
            <div class="input-group">
              <label>클릭한 태그</label>
              <div class="showSelectedhash"></div>
              </div>
           
          <div class="input-group">
              <button id="twit-btn" type="submit" class="btn">등록하기</button>
          
          </div>
        </form>
      </div>
    </div>
{% endblock %}

{% block script %}
  <script>
    let selectedhash;
    if (document.getElementById('img')) {
      document.getElementById('img').addEventListener('change', function(e) {
        const formData = new FormData();
        console.log(this, this.files);
        formData.append('img', this.files[0]);
        axios.post('/post/img', formData)
          .then((res) => {
            document.getElementById('img-url').value = res.data.url;
            document.getElementById('img-preview').src = res.data.url;
            document.getElementById('img-preview').style.display = 'inline';
          })
          .catch((err) => {
            console.error(err);
          });
      });
    }
    document.querySelectorAll('.twit-follow').forEach(function(tag) {
      tag.addEventListener('click', function() {
        const myId = document.querySelector('#my-id');
        if (myId) {
          const userId = tag.parentNode.querySelector('.twit-user-id').value;
          if (userId !== myId.value) {
            if (confirm('팔로잉하시겠습니까?')) {
              axios.post(`/user/${userId}/follow`)
                .then(() => {
                  location.reload();
                })
                .catch((err) => {
                  console.error(err);
                });
            }
          }
        }
      });
    });
    document.getElementById("postImg").addEventListener("change", e => {
    const input = e.target;
    if(input.files && input.files[0]) {
      const reader = new FileReader();
      reader.onload = e => {
          const previewImage = document.getElementById("post-img")
          previewImage.src = e.target.result
      }
      // reader가 이미지 읽도록 하기
      reader.readAsDataURL(input.files[0]);
    }
  });
  
// * document.querySelector(".hashtagClick").addEventListener("click",e=>{    
    //눌렀으면 배열에 추가 
    //post할때 같이 보내기    
   // * selectedhash=e.target.innerText;
   // * console.log("selectedhash",selectedhash);
  //  document.getElementsByClassName(selectedhash).style.backgroundColor="#2E75B6";
    // e.target.style.backgroundColor="#2E75B6";
    // e.target.style.color="white";
    // *document.querySelector(".showSelectedhash").innerHTML=`${selectedhash}`;
  // *});

  // document.getElementById("twit-btn").addEventListener("click",e=>{
  //   e.preventDefault();
  //   if(selectedhash==null){
  //     alert("해시태그를 선택하세요");     
  //   }
   
  // })

  </script>
{% endblock %}