{% extends 'layout.html' %}

{% block content %}
<head>
  <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.css">
</link>
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/theme/monokai.min.css">
</head>
    <div class="timeline">
      <h1>글쓰기</h1>
      <div class="twit" style="height:920px">
        <form id="post-form" action="/post/insert" method="post">
          <div class="input-group">
            <label for="post_title">제목</label><br>
            <input id="title" type="type" name="title" placeholder="제목 입력"><br>
          </div>
          <div class="input-group">
            <label for="code_content">소스코드</label><br>
            <!-- <textarea id="content" class="sourcecode" name="content" rows="35" cols="64"></textarea><br> -->
            <textarea id="codemirror-textarea"></textarea>
          </div>
          <div class="input-group">
            <label for="question_content">설명</label><br>
            <textarea id="story" name="story" class="description" placeholder="설명 입력"></textarea><br>
          </div>
          <div class="input-group" style="height:230px;">
            <label id="postImg-label" for="img">사진 업로드</label>
            <input id="img" type="file" accept="image/*">
            <div class="postImage" >
              <div class="profile-img">
                <img id="post-img" src="static/profile.jpg" style="width:200%; height:auto;"></div>
                <input id="img-url" type="hidden" name="url">
              </div>        
        </div>
          <div class="input-group">
            <label>태그</label>           
              <div class="showSelectedhash">              
                  <div class="eachHash"><input type="radio" name="hashtagss" value="JAVA">JAVA</div>
                  <div class="eachHash"><input type="radio" name="hashtagss" value="C++">C++</div>
                  <div class="eachHash"><input type="radio" name="hashtagss" value="C">C</div>
                  <div class="eachHash"><input type="radio" name="hashtagss" value="Javascript">Javascript</div>                 
                  <div class="eachHash"><input type="radio" name="hashtagss" value="Nodejs">Nodejs</div>
                  <div class="eachHash"><input type="radio" name="hashtagss" value="OS">OS</div>
                  <div class="eachHash"><input type="radio" name="hashtagss" value="DB">DB</div>
                  <div class="eachHash"><input type="radio" name="hashtagss" value="보안">보안</div>
                  <div class="eachHash"><input type="radio" name="hashtagss" value="HTML/CSS">HTML/CSS</div>                                 
                  <div class="eachHash"><input type="radio" name="hashtagss" value="UI/UX">UI/UX</div>
              </div>
           </div>
           
          <div class="input-group">
              <button id="twit-btn" type="submit" class="btn">등록하기</button>
          
          </div>
        </form>
      </div>
    </div>
{% endblock %}

{% block script %}
  <!--add codemirror library  -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function(){
      var editor = CodeMirror.fromTextArea(document.getElementById("codemirror-textarea"), {
        lineNumbers : true,
        theme: 'monokai'
      });
      editor.setValue("console.log('hello');");
      editor.setMode("javascript");
    });
  </script>
  <script>
    let selectedhash;
    if (document.getElementById('img')) {
      document.getElementById('img').addEventListener('change', function(e) {
        const formData = new FormData();
        console.log(this, this.files);
        formData.append('img', this.files[0]);
        axios.post('/post/img', formData)
          .then((res) => {
            document.getElementById('img-url').value = res.data.url;
            document.getElementById('post-img').src = res.data.url;
            document.getElementById('post-img').style.display = 'inline';
          })
          .catch((err) => {
            console.error(err);
          });
      });
    }
    document.querySelectorAll('.twit-follow').forEach(function(tag) {
      tag.addEventListener('click', function() {
        const myId = document.querySelector('#my-id');
        if (myId) {
          const userId = tag.parentNode.querySelector('.twit-user-id').value;
          if (userId !== myId.value) {
            if (confirm('팔로잉하시겠습니까?')) {
              axios.post(`/user/${userId}/follow`)
                .then(() => {
                  location.reload();
                })
                .catch((err) => {
                  console.error(err);
                });
            }
          }
        }
      });
    });
  
  function selectHash(e){
    selectedhash=e.target.value;
    document.querySelector(".showSelectedhash").innerHTML=`${selectedhash}`;
    
  }
//  document.querySelector(".hashtagClick").addEventListener("click",e=>{    
//     selectedhash=e.target.innerText;
//     console.log("selectedhash",selectedhash);
//     e.target.style.backgroundColor="#2E75B6";
//     e.target.style.color="white";
//     document.querySelector(".showSelectedhash").innerHTML=`${selectedhash}`;
//   });

  // document.getElementById("twit-btn").addEventListener("click",e=>{
  //   e.preventDefault();
  //   if(selectedhash==null){
  //     alert("해시태그를 선택하세요");     
  //   }
   
  // })

  </script>

<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
{% endblock %}