{% extends 'layout.html' %}

{% block content %}
<head>
  <link rel="stylesheet" href="/join.css">
</head>
<div class="timeline">
<div class="timelineContainer">
  <div class="joinContainer">
        <div class="joinTitle"><p class="joinTItleP">회원가입</p></div>     
        <div class="join-form-container">
        <form id="join-form" action="/auth/join" method="post" enctype="multipart/form-data">
          <div class="input-group">  
              <div class="profile-img">
                <img id="main-img" src="static/profile.png" style="width:150px; height:150px;" alt="미리보기">
              </div>
              <label id="img-label" for="img">사진 업로드</label>
              <input id="img" name="img" type="file" accept="image/*">
          </div>
          <div class="input-group">     
            <input id="join-id" class="join-input" type="text" placeholder="아이디" name="id">
          </div>
          <div class="input-group">
            <input id="join-nick" class="join-input" type="text" placeholder="닉네임" name="nick"></div>
          <div class="input-group">
            <input id="join-password" class="join-input" type="password" placeholder="비밀번호" name="password">
          </div>
          <div class="input-group"><button type="button" id="join-btn" class="btn" onclick="join_check();">가입하기</button></div>
    </form>
  </div>
        </div>   
</div>
</div>
{% endblock %}

{% block script %}
<script>
  window.onload = () => {
    if (new URL(location.href).searchParams.get('error')) {
      alert('이미 존재하는 아이디입니다.');
    }
  };

  //이미지 업로드
  document.getElementById("img").addEventListener("change", e => {
    const input = e.target;

    if(input.files && input.files[0]) {
      const reader = new FileReader()
      reader.onload = e => {
          const previewImage = document.getElementById("main-img")
          previewImage.src = e.target.result
      }
      // reader가 이미지 읽도록 하기
      reader.readAsDataURL(input.files[0]);
    }
  });
  //항목 빈값 체크
  function join_check(){
    var form = document.getElementById("join-form");
    var form_id = document.getElementById("join-id");
    var form_nick = document.getElementById("join-nick");
    var form_password = document.getElementById("join-password");

    //아이디 체크
    if(form_id.value == ""){
      alert("아이디를 입력하세요");
      form_id.focus();
      return false;
    }else if(form_nick.value == ""){
      alert("닉네임을 입력하세요");
      form_nick.focus();
      return false;
    }else if(form_password.value == ""){
      alert("비밀번호를 입력하세요");
      form_password.focus();
      return false;
    }

    form.submit();
    return true;
  }
</script>
</html>
{% endblock %}
