{% extends 'profileInfo.html' %}

{% block content %}
<div class="timeline">
  <h1>Q&A</h1>
  <div class="twits">
    <form id="hashtag-form" action="/hashtag">
      <input type="text" name="hashtag" placeholder="게시물 검색">
      <button class="btn">검색</button><br>
      <a class="btn" href="insert">글쓰기</a>
    </form>
  </div>
  <div class="twits">
    #JAVA #C++ #C #JavaScript #Nodejs #Os <br>
    #DB #UI/UX #보안 #HTML/CSS
  </div>
  <div class="twit">
    <input type="hidden" value="작성자" class="twit-user-id">
    <input type="hidden" value="작성자아이디" class="twit-id">
    <div class="twit-author"><a href="post">test</a></div>
    <div class="twit-content">테스트 문서 </div>
  </div>
  <div class="twit">
    <input type="hidden" value="작성자1" class="twit-user-id">
    <input type="hidden" value="작성자아이디1" class="twit-id">
    <div class="twit-author"><a href="post">test1</a></div>
    <div class="twit-content">테스트1 문서</div>
  </div>
  <div class="twit">
    <input type="hidden" value="작성자" class="twit-user-id">
    <input type="hidden" value="작성자아이디" class="twit-id">
    <div class="twit-author"><a href="post">test</a></div>
    <div class="twit-content">테스트 문서 </div>
  </div>
  <div class="twit">
    <input type="hidden" value="작성자" class="twit-user-id">
    <input type="hidden" value="작성자아이디" class="twit-id">
    <div class="twit-author"><a href="post">test1</a></div>
    <div class="twit-content">테스트 문서 </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  if (document.getElementById('img')) {
    document.getElementById('img').addEventListener('change', function(e) {
      const formData = new FormData();
      console.log(this, this.files);
      formData.append('img', this.files[0]);
      axios.post('/post/img', formData)
        .then((res) => {
          document.getElementById('img-url').value = res.data.url;
          document.getElementById('img-preview').src = res.data.url;
          document.getElementById('img-preview').style.display = 'inline';
        })
        .catch((err) => {
          console.error(err);
        });
    });
  }
  document.querySelectorAll('.twit-follow').forEach(function(tag) {
    tag.addEventListener('click', function() {
      const myId = document.querySelector('#my-id');
      if (myId) {
        const userId = tag.parentNode.querySelector('.twit-user-id').value;
        if (userId !== myId.value) {
          if (confirm('팔로잉하시겠습니까?')) {
            axios.post(`/user/${userId}/follow`)
              .then(() => {
                location.reload();
              })
              .catch((err) => {
                console.error(err);
              });
          }
        }
      }
    });
  });
</script>
{% endblock %}