{% extends 'layout.html' %}

{% block content %}
<div class="timeline">
  <h1>Q&A</h1>
  <div class="twits">
    <form id="search-form" action="/search">
      <input type="text" name="item" placeholder="게시물 검색">
      <button class="btn">검색</button><br>
      <a class="btn" href="insert">글쓰기</a>
    </form>
  </div>
  <div class="twits">
    <div class="hashtag-list">
   
      {% set hashs = ['Q&A','JAVA','C++', 'C','JavaScript','Nodejs','Os','DB','보안','HTML/CSS','UI/UX'] %}  
    
      {% for hash in hashs %}
        <button class="hashtag-item" onclick="filtering( `{{hash}}` )" >#{{hash}}</button>
      {% endfor %}

      {% for c in comment %}                        
        <button>{{c.comment}}</button>
      {% endfor %}  
   
    </div>
  </div>
  <div class="twitlist">
    {% for post in posts %}
    <div class="twit">
      <div class="post-profile">
        <div class="profile-section">
          <div>
            {% if post.User.user_image %}
              <img class="pic" src="{{post.User.user_image}}">  
            {% else %}
              <img class="pic" src="/static/profile.png">
            {% endif %}
          </div>
          <div>
            <input type="hidden" value="{{post.User.id}}" class="twit-user-id">
            <p class="inline">{{post.User.nick}}</p>
            {% if user.id %}
              {% if not followerIdList.includes(post.User.id) and post.User.id !== user.id %}
                <button class="twit-follow inline">팔로우</button>
              {% endif %}
            {% endif %}
            <p>{{post.createdAt.toLocaleString('ko-KR')}}</p>
          </div>
        </div>
      </div>
      <div class="post-info">
        <div class="twit-authorTags">
        <div class="twit-author">#{{post.id}}</div>
           <div class="twit-tags">
            {% for oneposthashtag in postHashtag %} 
            {% for onehashtag in hashtag %}
              {% if post.id==oneposthashtag.PostId and oneposthashtag.HashtagId==onehashtag.id %}              
                  <div class="hashtag-item">{{onehashtag.title}}</div> 
              {% endif %}
            {% endfor %}
           {% endfor %}  
        </div>         
    
    </div>
        <a href="post/{{post.id}}/detail">
          <div class="name_post" style="color: #000000; position: relative;margin-left: -45px; margin-top: 7px;">{{post.post_title}}</div>
        </a>
      </div>
    </div>
    {% endfor %}
    
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  if (document.getElementById('img')) {
    document.getElementById('img').addEventListener('change', function(e) {
      const formData = new FormData();
      console.log(this, this.files);
      formData.append('img', this.files[0]);
      axios.post('/post/img', formData)
        .then((res) => {
          document.getElementById('img-url').value = res.data.url;
          document.getElementById('img-preview').src = res.data.url;
          document.getElementById('img-preview').style.display = 'inline';
        })
        .catch((err) => {
          console.error(err);
        });
    });
  }
  document.querySelectorAll('.twit-follow').forEach(function(tag) {
    tag.addEventListener('click', function() {
      const myId = document.querySelector('#my-id').value;
      console.log("myId :"+myId);
      if (myId) {
        const userId = tag.parentNode.querySelector('.twit-user-id').value;
        console.log("userId :"+userId);
        if (userId !== myId) {
          if (confirm('팔로잉하시겠습니까?')) {
            axios.post(`/user/${userId}/follow`)
              .then(() => {
                location.reload();
              })
              .catch((err) => {
                console.error(err);
              });
          }
        }
      }
    });
  });
  const twitlist = document.querySelector(".twitlist");

  function filtering(hash){
    axios.post(`/hashtag`,{hash : hash})
    .then((res)=>{
     
      let temp=``;
      let twitsInfo = res.data;
     
     twitsInfo?.map((info,index)=>{
      let date = new Date(info.createdAt);
     
      let datedays = date.toLocaleDateString('ko-KR'); 
      let datetime = date.toLocaleTimeString('ko-KR');
     
      temp +=
      ` <div class="twit">
      <a href="post/${info.id}/detail">
      <input type="hidden" value="${info.User.id}" class="twit-user-id">
      <div class="post-profile">
        <div class="profile-section">
          <div>
            <img class="pic" src="/static/profile.png">
          </div>
          <div>
            <p>${info.UserId}</p>
            <p>${datedays}&nbsp;${datetime}</p>
          </div>
        </div>
      </div>
      <div class="post-info">
        <div class="twit-authorTags">
        <div class="twit-author">#${info.id}</div>
        <div class="twit-tags">
          <div class="hashtag-item">${hash}</div>
        </div>
        </div>
        <div class="twit-content">${info.post_title}</div>
      </div>
      </a>
    </div>     
       `;
     
     });
     twitlist.innerHTML=temp;
    
    }).catch((error)=>{
      console.log(error)
    });
  }
</script>
{% endblock %}

