{% extends 'layout.html' %}

{% block content %}
<head>
  <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.css">
</link>
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/theme/monokai.min.css">
</head>
  <div class="timeline">
    <h1>Q&A</h1>
    <div class="twit">
      {% if post.id %}
      <div id="post-form">
        <a>
          <div class="profile-section">
            <div>
              {% if post.User.user_image %}
                <img class="pic" src="{{post.User.user_image}}">  
              {% else %}
                <img class="pic" src="/static/profile.png">
              {% endif %}
            </div>
            <div>
              <p>{{post.User.nick}}</p>
              <p>{{post.user.user_image}}</p>
              <p>{{post.createdAt.toLocaleString('ko-KR')}}</p>
            </div>
            
          </div>
        </a>
        <hr>
        <div class="postDetailhastagContainer">
        <div class="hashtag-title">Tags</div>
        {% if hashtag.title%}
          <div class="hashtag-item">{{hashtag.title}}</div>
        {% endif %}
        </div>
        <div class="input-group">
          <div class="post-title">{{post.post_title}}</div>
            <div class="title">코드</div>
            <textarea id="codemirror-textarea" name="content"></textarea>
            {% if post.post_img %}
              <div class="post-img"><img src="{{post.post_img}}" alt="섬네일" style="width:80%; height:auto;"></div>
            {% endif %}
          <div class="post-content">{{post.question_content}}</div>
        </div>
      </div>
      {% endif %}
    </div>
  {% if user and user.id %} 
  <div class="twit">
      <form id="comment-form" action="/comment/insert" method="post">
        <input type="hidden" name="postId" value="{{post.id}}">
        <div class="comment-section">
            {% if user.user_image %}
              <img class="pic" src="{{user.user_image}}">  
            {% else %}
              <img class="pic" src="/static/profile.png">
            {% endif %}
            <p>{{user.nick}}</p> 
        </div>
        <div class="input-group">
            <input id="content" type="type" name="content" placeholder="설명 입력">
            <button id="" class="btn">등록</button>
        </div>
      </form>
  </div>
  {% endif %}
  <div>
    {% for c in comment %}
      <div class="twit">
        <div class="input-group">
        <div class="profile-section">
          <div>
            {% if c.User.user_image %}
              <img class="pic" src="{{c.User.user_image}}">  
            {% else %}
              <img class="pic" src="/static/profile.png">
            {% endif %}
          </div>
          <div>
            <p>{{c.User.nick}}</p>
            <p>{{c.created_at.toLocaleString('ko-KR')}}</p>
          </div>
        </div>
        <hr>
        <div>{{c.comment}}</div>
        {% if user and user.id %}
        <button id="" class="btn" onclick="delfunc()">삭제</button>
        {% endif %}

        <script>
          function delfunc()
          {
            if(confirm('삭제 하시겠습니까?')) {
              // axios로 삭제 기능 추가, 
               axios.delete(`/comment/delete`, {
                  data: { // 서버에서 req.body.{} 로 확인할 수 있다.
                  postId: `{{c.posts_id}}`,
                  commentId: `{{c.id}}`,
                  commenterId: `{{c.commenter}}`,
                },
                withCredentials: true,
                })
                .then(() => {
                  location.reload();
                })
                .catch((err) => {
                  console.error(err);
                });
            }
          }

        </script>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}
{% block script %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.js"></script>
<script type="text/javascript" src="https://codemirror.net/mode/javascript/javascript.js"></script>
  <script>
    var sourcecode = unescapeHtml(`{{post.code_content}}`); 
    document.addEventListener("DOMContentLoaded", function(){
      var editor = CodeMirror.fromTextArea(document.getElementById("codemirror-textarea"), {
        lineNumbers : true,
        theme: 'monokai',
        readOnly: true,
      });
      editor.setValue(sourcecode);
    });

    function unescapeHtml(str){
      return str.replace(/&amp;/g, '&')
                .replace(/&lt;/g, '<')
                .replace(/&gt;/g, '>')
                .replace(/&quot;/g, '"')
                .replace(/&#039;/g, "'")
                .replace(/&#39;/g, "'");
    }
  </script>
{% endblock %}