{% extends 'layout.html' %}

{% block content %}
  <div class="timeline">
    <h1>Q&A</h1>
    <div class="twit">
      {% if post.id %}
      <div id="post-form">
        <a>
          <div class="profile-section">
            <img class="pic" src="/static/profile.jpg">
            <p>{{post.UserId}}</p>
          </div>
        </a>
        <hr>
        <div>
        {% set hashs = ['JAVA','C++', 'C','JavaScript'] %} <!-- 태그불러오기 추가할것-->
        <div class="hashtag-title">Tags</div>
        {% for h in hashs %}
          <div class="hashtag-item">{{h}}</div>
        {% endfor %}
        </div>
        <div class="input-group">
          <div class="post-title">{{post.post_title}}</div>
          <div class="post-code-area">
            <div class="title">코드</div>
            <pre>
            <code>
              {{post.code_content}}
            </code>
            </pre>
          </div>
            {% if post.post_img %} <!-- 이미지는 있는경우만 보이게 셋팅-->
              <div class="post-img"><img src="{{post.post_img}}" alt="섬네일"></div>
            {% endif %}
          <div class="post-content">{{post.question_content}}</div>
        </div>
      </div>
      {% endif %}
    </div>
  {% if user and user.id %} <!-- 로그인 했을때만 댓글기능 활성화-->
  <div class="twit">
      <form id="comment-form" action="/commentInsert" method="post">
        <input type="hidden" name="postId" value="{{post.id}}">
        <!-- <div>{{post.id}}</div> -->
        <div class="comment-section">
            <img class="pic" src="/static/profile.jpg">
            <p>{{user.id}}</p> 
        </div>
        <div class="input-group">
            <input id="content" type="type" name="content" placeholder="설명 입력">
            <button id="" class="">등록</button>
        </div>
      </form>
  </div>
  {% endif %}
  <div>
    {% for c in comment %}
      <div class="twit">
        <div class="input-group">
        <div class="comment-section">
            <img class="pic" src="/static/profile.jpg">
            <p>{{c.commenter}}</p>
        </div>
        <hr>
        <div>{{c.comment}}</div>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}
{% block script %}
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
{% endblock %}