



  <!-- {% extends 'layout.html' %} -->

  {% block content %}
  <div class="timeline">
    <h1>프로필</h1>
  <div class="profileInfo">
    <div class="profileContainer">
    <div class="profilePic">
      <img id="profile-img" src="static/profile.jpg" style="width:130px; height:130px;">
    </div></div>
    <div class="user-name-container">
      <div class="user-name">{{user.nick}}</div>
      <div>
      <input id="my-id" type="hidden" value="{{user.id}}">
      <a id="my-profile" href="/profileUpdate" class="btn widthbtn"><p>개인 정보 수정</p></a>
      
    </div>
    </div>
  <div class="profileFollowFollowing">
    <div class="profileFollowing-container">     
    <div class="profileFollowing">
      <div>팔로잉</div>
      <div class="count following-count">{{followingCount}}</div>
    </div>
    <div class="profileFollower">
      <div>팔로워</div>
      <div class="count follower-count">{{followerCount}}</div>
    </div>
   </div>
  </div>
</div>

  <div class="timeline profileMenubar">
    <div class="profileMenuOption">
      <div class="option" style="cursor:pointer;" onClick="showPost()">
        <p>작성글</p>
      </div>
      <div class="option" style="cursor:pointer;" onClick="showReview()">
        <p>작성 댓글</p>
      </div>
      <div class="option" style="cursor:pointer;" onClick="showFollowFollowing()">
        <p>팔로워/팔로잉</p>
      </div>
    </div>
    <div id="displayInfo"></div>
 
  </div>
</div>
  <script>
    function showFollowFollowing(){
      document.getElementById('displayInfo').innerHTML=
      `<div class="followingerList"> <div class="followings half">    
      <h2>팔로잉 목록</h2>
      {% if user.Followings %}
        {% for following in user.Followings %}
          <div>{{following.nick}}</div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="followers half">
      <h2>팔로워 목록</h2>
      {% if user.Followers %}
        {% for follower in user.Followers %}
          <div>{{follower.nick}}</div>
        {% endfor %}
      {% endif %}
    </div>
      </div>
      `;
    }
    function showPost(){
      document.getElementById('displayInfo').innerHTML=`
        <div>작성글</div>
        {% for post in posts %}
          {% if post.UserId == user.id %}
            <div> #{{post.id}} 게시물을 작성하였습니다. </div>
            <div> 작성글 제목 : {{post.post_title}}&nbsp;&nbsp;&nbsp; 작성자 : {{user.id}}</div>
            <br>
          {% endif %}
        {% endfor %}
      `;
    }
    function showReview(){
      document.getElementById('displayInfo').innerHTML=`
      <div class="userscomments">작성댓글</div>
`;
    }
  </script>
  {% endblock %}
 
