{% extends 'profileInfo.html' %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../public/profile.css">
  </head>
<body>
  <div class="timeline">
    <div>
      <div onClick="showPost()">
        작성글
      </div>
      <div onClick="showReview()">
        작성 댓글
      </div>
      <div onClick="showFollowFollowing()">
        팔로우/팔로잉
      </div>
    </div>
    <div id="display"></div>
 
  </div>
  <script>
    function showFollowFollowing(){
      document.getElementById('display').innerHTML=
      `   <div class="followings half">    
      <h2>팔로잉 목록</h2>
      {% if user.Followings %}
        {% for following in user.Followings %}
          <div>{{following.nick}}</div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="followers half">
      <h2>팔로워 목록</h2>
      {% if user.Followers %}
        {% for follower in user.Followers %}
          <div>{{follower.nick}}</div>
        {% endfor %}
      {% endif %}
    </div>
      
      `;
    }
    function showPost(){
      document.getElementById('display').innerHTML=`
        <div>작성글</div>
      `;
    }
    function showReview(){
      document.getElementById('display').innerHTML=`
      <div>작성댓글</div>
`;
    }
  </script>
  </body>
  </html>
{% endblock %}
