



  <!-- {% extends 'layout.html' %} -->

  {% block content %}
  <div class="timeline profileWholeContainer">
  <div class="profileInfo">
    <div class="profileContainer">
    <div class="profilePic"></div></div>
    <div class="user-name-container">
      <div class="user-name">{{user.nick}}</div>
      <div>
      <input id="my-id" type="hidden" value="{{user.id}}">
      <a id="my-profile" href="/profile" class="btn">내 프로필</a>
      <a id="logout" href="/auth/logout" class="btn">로그아웃</a>
    </div>
    </div>
  <div class="profileFollowFollowing">
    <div class="profileFollowing-container">     
    <div class="profileFollowing">
      <div>팔로잉</div>
      <div class="count following-count">{{followingCount}}</div>
    </div>
    <div class="profileFollower">
      <div>팔로워</div>
      <div class="count follower-count">{{followerCount}}</div>
    </div>
   </div>
  </div>
</div>

  <div class="timeline profileMenubar">
    <div class="profileMenuOption">
      <div onClick="showPost()">
        작성글
      </div>
      <div onClick="showReview()">
        작성 댓글
      </div>
      <div onClick="showFollowFollowing()">
        팔로워/팔로잉
      </div>
    </div>
    <div id="displayInfo"></div>
 
  </div>
</div>
  <script>
    function showFollowFollowing(){
      document.getElementById('displayInfo').innerHTML=
      `   <div class="followings half">    
      <h2>팔로잉 목록</h2>
      {% if user.Followings %}
        {% for following in user.Followings %}
          <div>{{following.nick}}</div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="followers half">
      <h2>팔로워 목록</h2>
      {% if user.Followers %}
        {% for follower in user.Followers %}
          <div>{{follower.nick}}</div>
        {% endfor %}
      {% endif %}
    </div>
      
      `;
    }
    function showPost(){
      document.getElementById('displayInfo').innerHTML=`
        <div>작성글</div>
        {% for post in posts %}
          {% if post.UserId == user.id %}
            <div> #{{post.id}} 게시물을 작성하였습니다. </div>
            <div> 작성글 제목 : {{post.post_title}}&nbsp;&nbsp;&nbsp; 작성자 : {{user.id}}</div>
            <br>
          {% endif %}
        {% endfor %}
      `;
    }
    function showReview(){
      document.getElementById('displayInfo').innerHTML=`
      <div>작성댓글</div>
`;
    }
  </script>
  {% endblock %}
 
