* { box-sizing: border-box; }
html, body { 
  font-family: 'NanumSquare', sans-serif;
 
  margin: 0; padding: 0; height: 100%; }
.profile a {color: #fff; text-decoration: none; outline: none

}
.profile a:hover, .profile a:active {text-decoration: none; color:#fff;}

.btn {
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  background: #2E75B6;
  border: 1px solid silver;
  color: white;
  height: 37px;
  line-height: 37px;
  vertical-align: top;
  font-size: 12px;
}
.widthbtn{
  width:200px;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:20px;
  margin-right:10px;
  
}
input[type='text'], input[type='email'], input[type='password'], textarea {
  border-radius: 4px;
  height: 37px;
  padding: 10px;
  border: 1px solid silver;
}
.container { width: 1000px; height: 100%; display:flex; justify-content: center; margin: 0 auto; }

.input-group { margin-bottom: 15px; }
.input-group label { width: 25%; display: inline-block; }
.input-group input { width: 70%; }
.join-notice { width:100%; 
  background-color:red; 
  margin-bottom:10px;
   margin-left:20px;
  display:flex;
  justify-content: center;
  
  }
  table,td{
    border: 1px solid #333;
    width:450PX;
  }
.half { float: left; width: 50%; margin: 10px 0; }
#join { float: right; }
.profile-wrap {
  width: 100%;
  display: inline-block;
  vertical-align: top;
 
}
@media screen and (min-width: 1000px) {
  .profile-wrap { width: 285px; margin-bottom: 0; }
}
.profile {
  text-align: left;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid silver;
  background-color: #2E75B6;
  height:100%;
  position:fixed;
  
}
.profileTitle{
  margin:20px;
  /* margin-right:20px; */
}
.user-name { font-weight: bold; font-size: 18px; }
.count { font-weight: bold; color: crimson; font-size: 18px; }
.timeline {
  margin-top: 10px;
  width: 700px;

  display: inline-block;
  border-radius: 4px;
  vertical-align: top;
}
#twit-form {
  border-bottom: 1px solid silver;
  padding: 10px;
  background: lightcoral;
  overflow: hidden;
}
#img-preview { max-width: 100%; }
#img-label {
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid silver;
  padding: 0 10px;
  color: white;
  background-color: #2E75B6;
  font-size: 12px;
  height: 37px;
  line-height: 37px;
}
#img { display: none; }
#twit { width: 100%; min-height: 72px; }
#twit-btn {
  float: right;
  color: white;
  background: #2E75B6;
  border: none;
}
#title{
  width:100%;
  height:30px;
}
.sourcecode, .description{
  height:200px;
  width:100%;
  resize:none;
}
.sourcecode{
  background-color: black;
  color:white;
}
.twit {
  border: 1px solid silver;
  border-radius: 4px;
  padding: 10px;
  position: relative;
  margin-bottom: 10px;
  
}
.postDetailhastagContainer{
  display:flex;
  align-items: center;
  
}
.twit-authorTags{display:flex;width:70px;height:30px;align-items: center;}
.twit-author {  width:40px;font-weight: bold; margin-right: 10px; }
.twit-tags {height:25px;width:30px; font-weight: bold; margin-right: 10px;margin-bottom:5px; }
.twit-follow {
  padding: 1px 5px;
  background: #fff;
  border: 1px solid silver;
  border-radius: 5px;
  color: crimson;
  font-size: 12px;
  cursor: pointer;
}
.twit-img { text-align: center; }
.twit-img img { max-width: 75%; }
.error-message { color: red; font-weight: bold; }
#search-form { text-align: right; }
#join-form { padding: 10px; text-align: center; }
#search-form { text-align: right; }
footer { text-align: center; }
/* post-hashtag 추가 */
.post-hashtag {
  float: left;
  margin-right: 10px;
}
.postImage{
  width:100px;
  height:100px;
}
.sourcecode{
  color:green;
}
.showSelectedhash{
  display:flex;
  width:100%;
  height:35px;
  font-size:15px;
}
.showSelectedhash input[type='radio']{
  width:10px;
  font-size:10px;
}
.eachHash{
  display:flex;
  align-items: center;
  height:30px;
  margin-right: 10px;
}
/* code-area 추가 */
.code-area {
  margin: 10px;
  background: black;
  color : white;
}
/* box 추가 */
.box {
  width: 100px;
  height: 100px; 
  border-radius: 100%;
  overflow: hidden;
}
.box-min {
  width: 50px;
  height: 50px; 
  border-radius: 100%;
  border: 1px solid black;
  overflow: hidden;
}
/* profile-img 추가 */
.profile-img {
  display: flex;
  /*width: 50%;
  height: 50%; */
  object-fit: cover;
}
.hashtagClick{
  display:flex;
  list-style:none;
}
.hashtagClick div{
  margin-right:10px;
}
.hashtagClick > div:active{
  background-color:#2E75B6;
  color:white;
}
.firstMenu{
  width:100%;
  height:40px;

  background-color:#DEEBF7;
  display:flex;
  align-items : center;
  justify-content : center;
}
.loginoutjoin-css{
  display:flex;
  justify-content: center;
  width:50%;
}
.loginoutjoin-css > a{
  color:black;
}
.menuContainer{
  width:100%;
  display:flex;
  justify-content: center;
}

/*profile info 부분 시작*/
.profileInfo{
  width:500px;
  height:100%;
  display:flex;
  /* background-color: yellow; */
  justify-content: space-between;
  position:relative; 
}
.user-name-container{ 
  
  width:530px;
  height:100px;
  margin-left:15px;
  margin-top:30px;
  display:flex;
  justify-content: space-between;
}
.user-name { font-weight: bold; font-size: 28px; }
.count { font-weight: bold; color: crimson; font-size: 18px; }
.profileFollowFollowing{
  width:480px;
  height:45px;
  /* background-color:blue; */
  margin-left:20px;  
  font-size:20px;
  position:absolute;
  right:0px;
  bottom:0;
}
.profileFollowing-container{
width:500px;
display:flex;
justify-content: flex-end;

}
.profileFollowing , .profileFollower{
display:flex;
width:130px;
}
.following-count {
margin-left:20px;
width:40px;
/* background-color:red; */
}
.follower-count{
margin-left:20px;
width:40px;
font-size:20px;
/* background-color:red; */
}
.followings {
  margin-right:10px;
}
.followings ,.followers{
  width:270px;
  border:1px solid black;
  border-radius: 10px;
  display:flex;
  flex-direction: column;
  align-items: center;
  font-size:15px;
}
.profileWholeContainer{
  margin-top:80px;
  
}
.profileInfo{
  border-radius:10px;
  width:700px;
  height:200px;
  border:1px solid #2E75B6;
}
.profileMenubar{
  display:flex;
  width:700px;
}
.profileMenuOption{
  margin-top:20px;
  width:150px;
}
.profileContainer{
  height:30%;
  width:150px;
}
.profilePic{
  
  width:130px;
  height:130px;
  border-radius:100px;
  margin:15px;
  margin-left:20px;
 background-color:black;
}
#displayInfo{
  width:550px;
  height:auto;
  border-radius:10px;
  
}
.usersposts{
  border: 1px solid #2E75B6;
  width:550px;
  height:auto;
  border-radius:10px;
}
.userscomments{
  border: 1px solid #2E75B6;
  width:550px;
  height:auto;
  border-radius:10px;
}
.followingerList{
  width:550px;
}

/*profile info 부분 끝*/

/* hash-tag */
.hashtag-list {
  display: inline-block;
  border-radius: 4px;
  background: white;
  border: 1px solid silver;
  width: 100%;
  margin : 20px 0px;
  padding : 5px;
}
.hashtag-item {
  display: inline-block;
  padding: 0 5px;
  margin : 5px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  background: #DEEBF7;
  border: 1px solid silver;
  color: #2E75B6;
  height: 20px;
  line-height: 20px;
  vertical-align: top;
  font-size: 12px;
}
.option{
  width:100px;
  height:40px;
  display:flex;
  justify-content: flex-end;

}
.option:hover{
  color:#2E75B6;
}

/* common profile */
.profile-section {
  display: flex;
  align-items: center;
  height: 46px;
  margin: 2px 0 8px 0;
}
.profile-section img {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border: 1px solid black;
}
.profile-section div {
  display: inline-block;
}
.profile-section p {
  display: block;
  color: #262626;
  font-size: 14px;
}
.profile-section .inline {
  display: inline;
}
.pic{
  border-radius: 100%;
}

.comment-section {
  display: flex;
  align-items: center;
  height: 36px;
  margin: 2px 0 8px 0;
}
.comment-section img {
  display: inline-block;
  margin-right: 5px;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}
.comment-section p {
  display: inline-block;
  color: #262626;
  font-size: 14px;
}

.pic{
  border-radius: 100%;
}

.post-title{
  font-size: 24px;
  margin-top:10px;
  margin-bottom:10px;
}

.post-code-area{
  font-size: 24px;
  margin-top:10px;
  margin-bottom:10px;
}

.post-profile{
  float: right;
}

.hashtag-title{
  display: inline-block;
}
/* post화면 소스코드 css */
pre {
  border-radius: 5px; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
  border: 1px solid #BCBEC0;
  background: black;
  font:12px Monaco,Consolas,"Andale  Mono","DejaVu Sans Mono",monospace;
}
code {
  border-radius: 25px; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  border: 1px solid #BCBEC0;
  padding: 2px;
  color:green;
  font:12px Monaco,Consolas,"Andale  Mono","DejaVu Sans Mono",monospace
}

pre code {
  border-radius: 0px; 
  -moz-border-radius: 0px; 
  -webkit-border-radius: 0px; 
  border: 0px;
  padding: 2px;
  font:12px Monaco,Consolas,"Andale  Mono","DejaVu Sans Mono",monospace
}

.post-code-area .title{
  font-size: 12px;
}

.post-content{
  font-size: 14px;
}

.post-section {
  display: flex;
  align-items: center;
  height: 40px;
  margin: 5px 0 5px 0;
}
.post-section div{
    display: inline-block;
    font-weight: bold; 
    margin-right: 10px; 
}
.name{
  width:200px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.name_post{
  width:300px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.post-hashtag {
  display: inline-block;
  padding: 0 5px;
  margin : 5px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  background: #DEEBF7;
  border: 1px solid silver;
  color: #2E75B6;
  height: 20px;
  line-height: 20px;
  vertical-align: top;
  font-size: 12px;
}